.site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/*
 * Public website styles
*/
.public {

}

.home {
  margin: 5px;
  flex: 1 0 auto;
}

.page {
  margin: 0.8% 15%;
  flex: 1 0 auto;
}

.page-title {
  font-size: 4em;
  margin: 1%;
  font-weight: 500;
  text-align: center;
  color: #333;
}

.page-subtitle {
  font-size: 1.8em;
  margin: 1%;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  color: #666;
}

#loading {
  margin: auto;
  display: none;
  width: 128px;
  text-align: center;
}

.page-image {
  display: block;
  margin: auto;
}

.content-text {
  line-height: 150%;
  margin-bottom: 10px;
}

.heatmap {
  width: 100%;
  height: 400px;
  background-color: #ccc;
}

.building-map {
  width: 100%;
  height: 400px;
  background-color: #c4e3f3;
}

.chart {
  max-width: 100%;
}

.report-graph,
.report-table {
  width: 50%;
}

.features {
  display: table;
}

.feature {
  width: 27.33333%;
  float: left;
  margin: 3%;
}

.feature-title {
  margin: 10px;
}

.feature-image {
  width: 100%;
  height: auto;
}

.feature-text {
  text-align: justify;
}

@media screen and (max-width: 785px) {
  .feature {
    width: 94%;
    margin: 3%;
  }
  .page-title {
    font-size: 2em;
  }
  .page-subtitle {
    font-size: 1.2em;
  }
  .page {
    margin: 5%;
  }
}

/*
  Admin access website
*/
.admin {

}

.admin-container {
  background-color: #222;
  display: flex;
  flex: 1 0 auto;
}

.sidebar {
  font-size: 0.8em;
  background-color: #222;
  z-index: 999;
  flex: 0 0 150px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  //display: none;
  max-height: 0;
  transition: max-height 0.6s linear;
  overflow: hidden;
  background-color: lighten(#222, 5%);
  z-index: 999;

  &.active {
    max-height: 25em;
  }
}

.sidebar-menu-item {
  position: relative;
}

.sidebar-active-item {
  background-color: lighten(#222, 5%);
}

//.sidebar-menu-item:hover .sidebar-submenu {
//  display: block;
//}
.sidebar-menu-link {
  text-decoration: none;
  display: block;
  padding: 5%;
  color: #eee;
}

.sidebar-menu-item:hover {
  background-color: lighten(#000, 20%);
}

.sidebar-menu-item.active,
.sidebar-menu-item.active:hover {
  background-color: #0074a2;
}

.dashboard {
  background-color: #fff;
  padding: 0.5%;
  position: relative;
  flex: 1;
}

.dashboard-title {
  margin: 0.5% 0;
}

.chart {
  width: 100%;
  height: 400px;
}

#error-list {
  font-size: .8em;
  background-color: lighten(#f00, 10%);
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  color: #fff;
}

.error-item {
  margin: 0;
}

.container-column {
  width: percentage(4/18);
}

.amount-column {
  width: percentage(2/18);
}

.treatment-column {
  width: percentage(4/18);
}

.sample-column {
  width: percentage(2/18);
}

.submit-column {
  width: percentage(2/18);
}

.building-map {
  max-width: 100%;
}