.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@media screen and (max-width: 770px) {
  .pull-left {
    float: none;
  }
}
