.header {
  flex: none;
}

.admin .header {
  background-color: #222;
}

.public .header {
  background-color: #008CBB;
}

.brand {
  font-family: 'Varela Round', sans-serif;
  float: left;
  margin: 0;
  user-select: none;
}

.brand-image {
  vertical-align: middle;
}

.brand-link {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-weight: 900;
  padding: 5px;
}

.brand-description {
  font-size: 0.75em;
}

.main-menu {
  align-self: flex-end;
}

@media screen and (max-width: 350px) {
  .brand-description {
    display: none;
  }
}
