.menu-content {
  margin: 0 5px 0 0;
  font-size: 0.8em;
  float: right;
  list-style: none;
}

.menu-item {
  display: inline-block;
}

.submenu-item {
  display: block;
}

.menu-item:hover, .menu-item:active {
  background-color: #0074a2;
}

.submenu-item:hover {
  background-color: lighten(#0074a2, 5%);
}

.menu-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu {
  background-color: #0074a2;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 999;
  display: none;
  right: 0;
}

.dropdown,
.dropdown > a {
  position: relative;
}

.dropdown > a::after {
  content: '';
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  height: 0;
  width: 0;
  right: 5px;
  top: calc(50% - 3px);
  //margin-top: -3px;
  position: absolute;
}

.dropdown > .menu-link {
  padding-right: 25px;
}

#menu-toggle {
  float: right;
  display: none;
  margin: 5px;
  padding: 5px;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #fff;
}

@media screen and (max-width: 785px) {
  .menu-content {
    float: none;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    transition: max-height 0.6s ease-out;
    max-height: 0;
    height: auto;
    overflow: hidden;
  }

  .expanded {
    max-height: 20em;
  }

  .menu-item {
    display: block;
    margin: 0;
  }

  #menu-toggle {
    display: block;
  }
}
