.alert {
  font-size: .8em;
  list-style: disc inside;
  padding: 0.5em 1em;
  margin: 1% 0;
}

.alert > li {
  padding: .1em;
}

.alert > p {
  padding: 0;
  margin: 0;
}

.alert-prompt {
  position: absolute;
  right: 1%;
  top: 3%;
  margin: 0;
}

.alert-success {
  background-color: darken(#00ff00, 15%);
  color: #fff;
}

.alert-danger {
  background-color: darken(red, 5%);
  color: #fff;
}