.form--inline {
  display: inline-block;
}

.input-group {
  display: flex;
  align-content: center;
  margin: 10px 0;

  input {
    margin: 0;
  }

  label {
    padding: 10px;
  }
}

fieldset {
  padding: 10px;
  border: 1px solid #c8d8e8;
  min-width: 0;
  margin-bottom: 10px;
}

legend {
  margin: 5px;
  padding: 5px 10px;
  line-height: inherit;
  border: 1px solid #c8d8e8;
  color: #333;
}

label,
.table-label {
  color: #333;
  max-width: 100%;
  font-size: 0.8em;
}

input,
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #c8d8e8;
  color: #333;
  display: block;
  background-color: #fff;
  height: auto;
  max-width: 100%;
  margin: 5px 0;
}

input[type="color"] {
  height: 30px;
  width: 30px;
  border-radius: 0;
  background-color: #e5e5e5;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  display: inline;
  margin: 2px 0;
}

input[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.option {
  display: table-cell;
}

.static-input {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #c8d8e8;
  border-radius: 5px;
}
