/* Grid Definitions */
$gridColumns: 18;

.tile {
  float: left;
}

@for $i from 1 through $gridColumns {
    .tile-#{$i} {
        width: (percentage($i/$gridColumns));
        padding: 0 0.5%;
    }
}
