.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal:target:before {
    display: block;
}
.modal:target .modal-inner {
    transform: translate(0, 0);
    top: 20%;
}
.modal-inner {
    background: #FFF;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -250px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 500px;
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
}
.modal-body {
    padding: 20px;
}
.modal-header,
.modal-footer {
    padding: 10px 20px;
}
.modal-header {
    border-bottom: #EEE solid 1px;
}
.modal-header h2 {
    font-size: 1.5em;
    margin: 0;
}
.modal .btn-close {
    position: absolute;
    right: 10px;
    top: 5px;
    text-decoration: none;
    font-size: 1.3em;
    user-select: none;
    color: #999;
}
.modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}
@media screen and (max-width: 550px) {
    .modal-inner {
        width: 98%;
        margin: 1%;
        left: 0;
    }
}
