.pagination {
  display: inline-block;
  margin: 15px 0;
  padding: 0;
  border-radius: 4px;

  > li {
    display: inline;

    > a,
    > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      text-decoration: none;
      color: #337ab7;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    &:last-child {
      > a,
      > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: #23527c;
      background-color: #eee;
      border-color: #ddd;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: #fff;
      background-color: #337ab7;
      border-color: #337ab7;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #777;
      background-color: #fff;
      border-color: #ddd;
      cursor: not-allowed;
    }
  }
}